html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  font-family: 'Poppins', sans-serif !important;
  font-weight: bolder !important;
}
.navbar-dark .navbar-brand{
  color:white;
}
.navbar-brand{
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: bold;
  font-size: 2.5rem;
}
.sectionBackground {
  background-color: #684afd;
}
#title a {
  font-weight: 600;
}
.titleSection {
  height: 370px;
  overflow: hidden;
}
.paddingBanner{
  padding-left: 15%;
  padding-right: 15%;
}
.icon:hover{
  color:white
}
.btn-hover-dark:hover{
  background-color: #212529;
}
.rotate {
  background-color: transparent;
  transform: rotate(20deg);
}
@media only screen and (max-width: 768px) {
  .titleSection {
    height: 600px;
  }
  .rotate {
    transform: rotate(0deg);
  }
}
.bannerLeft{
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .bannerLeft{
    text-align: center;
  }
}