html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.rotate {
  background-color: transparent;
  transform: rotate(20deg);
}
body {
  /* background-color: white !important; */
  font-family: sans-serif;
}
.sectionBackground {
  background-color: #684afd;
}
#title a {
  font-weight: 600;
}
.titleSection {
  height: 372px;
  overflow: hidden;
}
.icon:hover{
  color:white
}
.btn-hover-dark:hover{
  background-color: #212529;
}
@media only screen and (max-width: 767px) {
  .titleSection {
    height: 600px;
  }
  .rotate {
    transform: rotate(0deg);
  }
}