.rotate {
  background-color: transparent;
  transform: rotate(20deg);
}

body {
  /* background-color: white !important; */
  font-family: sans-serif;
}

section:nth-child(odd) {
  background-color: #684afd;
}

#title a {
  font-weight: 600;
}
